body
{
	background: black;
	color: white;
	font-family: sans-serif;
}


a:link
{
	color: #00ff00;
}

a:visited
{
	color: #03ab00;
}

a:hover
{
	color: #00ff00;
	text-decoration:underline;
}

.post-content, .comment-text
{
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	min-width: 50em;
	max-width: 66em;
}

.post-resource, .comment-resource
{
	padding-left: 10px;
}

.comment
{
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
}

.post-date, .post-resource
{
	font-style: italic;
	color: #EEEEEE;
	font-size: 80%;
}

.comment-date, .comment-resource
{
	font-style: italic;
	color: #EEEEEE;
	font-size: 80%;
}

.search
{
	text-align: right;
}

.tag
{
	display:inline-block;
	padding: 4px;
	background: #042600;
}

.post-recommendation-text
{
	padding-left: 1em;
}

.comment-recommendation-text
{
	padding-left: 1em;
}


.post-content
{
	padding-left: 1em;
}

.comment-text
{
 	padding-left: 1em; 
}

.post-recommendation, .comment-recommendation, .post, .comment
{
	margin-top: 1em;
	margin-bottom: 1em;
}

.quotid
{
	padding-left: 0.5em;
}

.post
{
	background: #021000;
}

.comment-recommendation, .post-recommendation
{
	background: #0F1B10;
}
.comment
{
	background: #010A00;
}

.content-hidden
{
	background: #170B0C;
}

.navbuttons
{
	width: 100%;
	font-size: 1.2em;
	margin-top: 1em;
	margin-bottom: 2em;
}

.navbutton
{
	display: inline-block;
}

.flash-notice
{
	color: #00ff00;
}

.flash-error
{
	color: red;
}
