<% content_for :title, "Huick: @#{@user.username} recommendations" %>
<% content_for :feed_title, "Huick: @#{@user.username} recommendations" %>
<% content_for :feed_url, url_for(format: :atom) %>

<div class="navbuttons">
	<div class="navbutton"><%= link_to 'All activity',url_for(:action => 'user', :username => params[:username])%></div>
	<div class="navbutton"><%= link_to 'Posts', url_for(:action => 'posts', :username => params[:username])%></div>
	<div class="navbutton">Recommendations</div>
	<div class="navbutton"><%= link_to 'Subscriptions', url_for(:action => 'subscriptions', :username => params[:username])%></div>
</div>

<% @activities.each do |activity| %>
	<% if activity.post %>
		<div class="post">
		<%= render partial: "post", locals: {post: activity.post} %>
		</div>
	<% elsif activity.comment_recommendation %>
		<div class="comment_recommendation">
		<%= render partial: "comment_recommendation", locals: {comment_recommendation:  activity.comment_recommendation} %>
		</div>
	<% elsif activity.post_recommendation %>
		<div class="post-recommendation">
		<%= render partial: "post_recommendation", locals: {post_recommendation:  activity.post_recommendation} %>
		</div>
 	<% end %>
<% end %>

<%= paginate @activities %>