<% content_for :title, "Huick: @#{@user.username} subscriptions" %>
<% content_for :feed_url, url_for(format: :atom) %>

<% if params[:page].to_i <= 1 %>
<div class="user-info">
	<h3> User info </h3>
	<div class="user-avatar"><%= gravatar_image_tag(@user.email, :alt => 'gravatar', :gravatar => {:default => :monsterid})%></div>
	<h2 class="user-username"><%= @user.username %></h2>
	<div class="user-description"><%= @user.description %></div>
</div>

<% end %>
<div class="navbuttons">
	<div class="navbutton"><%= link_to 'All activity',url_for(:action => 'user', :username => params[:username])%></div>
	<div class="navbutton"><%= link_to 'Posts', url_for(:action => 'posts', :username => params[:username])%></div>
	<div class="navbutton"><%= link_to 'Recommendations', url_for(:action => 'recommendations', :username => params[:username])%></div>
	<div class="navbutton">Subscriptions</div>
</div>

<% @activities.each do |activity| %>
	<% if activity.post %>
		<div class="post">
		<%= render partial: "post", locals: {post: activity.post} %>
		</div>
	<% elsif activity.comment_recommendation %>
		<div class="comment-recommendation">
		<%= render partial: "comment_recommendation", locals: {comment_recommendation:  activity.comment_recommendation} %>
		</div>
	<% elsif activity.post_recommendation %>
		<div class="post-recommendation">
		<%= render partial: "post_recommendation", locals: {post_recommendation:  activity.post_recommendation} %>
		</div>
 	<% end %>
<% end %>

<%= paginate @activities %>