<% if not @unhide and @user.hidden_by? @current_user %>
	<% content_for :title, "Huick: Hidden user" %>
	<div class="content-hidden">
	This page have been hidden according to your criteria. See <a href="<%= unhide_path(url_for) %>">unhidden version of it if you're still interested.
	</div>
<% else %>
<% content_for :title, "Huick: @#{@user.username}" %>
<% content_for :feed_title, "Huick: @#{@user.username}" %>
<% content_for :feed_url, url_for(format: :atom) %>

<% if params[:page].to_i <= 1 %>
<div class="user-info">
	<h3> User info </h3>
	<div class="user-avatar"><%= gravatar_image_tag(@user.email, :alt => 'gravatar', :gravatar => {:default => :monsterid})%></div>
	<h2 class="user-username"><%= @user.username %></h2>
	<div class="user-description"><%= @user.description %></div>
</div>


<div class="user-tags">
<h3> Tags </h3>
	<%= render partial: "tag_cloud", locals: {user: @user, tags: @tags_data} %>
</div>

<div class="user-friends">
Subscribers (<%=@user.subscribers.count%>): <div class="userlist user-subsribers"><%=@user.subscribers.map{|s| link_to ('@'+s.username), user_path(s)}.join(", ").html_safe%></div>
Subscribed (<%=@user.subscribed_users.count%>): <div class="userlist user-subcribeds"><%=@user.subscribed_users.map{|s| link_to ('@'+s.username), user_path(s)}.join(", ").html_safe%></div>
</div>
<% end %>

<div class="navbuttons">
	<div class="navbutton">All activity</div>
	<div class="navbutton"><%= link_to 'Posts', url_for(:action => 'posts', :username => params[:username])%></div>
	<div class="navbutton"><%= link_to 'Recommendations', url_for(:action => 'recommendations', :username => params[:username])%></div>
	<div class="navbutton"><%= link_to 'Subscriptions', url_for(:action => 'subscriptions', :username => params[:username])%></div>
</div>

<% @activities.each do |activity| %>
	<% if activity.post %>
		<div class="post">
		<%= render partial: "post", locals: {post: activity.post} %>
		</div>
	<% elsif activity.comment_recommendation %>
		<div class="comment-recommendation">
		<%= render partial: "comment_recommendation", locals: {comment_recommendation:  activity.comment_recommendation} %>
		</div>
	<% elsif activity.post_recommendation %>
		<div class="post-recommendation">
		<%= render partial: "post_recommendation", locals: {post_recommendation:  activity.post_recommendation} %>
		</div>
 	<% end %>
<% end %>

<%= paginate @activities %>
<% end %>