<% if @user %>
	<% content_for :title, "Huick: @#{@user.username} tags" %>
<% else %>
	<% content_for :title, "Huick: tags" %>
<% end %>
<%# render partial: "tag_cloud", locals: {user: @user, tags: @tags_data} %>