<% content_for :title, "Huick: *#{@tag.tag_text}" %>
<% content_for :feed_title, "Huick: *#{@tag.tag_text}" %>
<% content_for :feed_url, url_for(:format => :atom) %>

<% @posts.each do |post| %>
<div class="post">

<%= render partial: "post", locals: {post: post} %>

</div>
<% end %>

<%= paginate @posts %>