<% if not @unhide and @post.hidden_by? @current_user %>
	<% content_for :title, "Huick: Hidden post" %>
	<div class="content-hidden">
	This page have been hidden according to your criteria. See <a href="<%= unhide_path(url_for) %>">unhidden version of it if you're still interested.
	</div>
<% else %>
	<% content_for :title, "@#{@post.user.username} ##{@post.postid_text} -- #{truncate(@post.post_content, length: 25)}" %>
	<% content_for :feed_title, "@#{@post.user.username} ##{@post.postid_text} -- #{truncate(@post.post_content, length: 25)}" %>
	<% content_for :feed_url, url_for(:format => :atom) %>
	
	<div class="post">
		<%= render partial: "post", locals: {post: @post, full_text: true} %>
		<div class="post-recommendations">
			<% unless @post.sorted_recommendations[0].reject{|a| not @unhide and a[0].hidden_by? @current_user}.empty? and @post.sorted_recommendations[1].reject{|a| not @unhide and a.hidden_by? @current_user}.empty? %>
			Recommended by:
			<%= @post.sorted_recommendations[0].reject{|a,b| not @unhide and a.hidden_by? @current_user}.map do |u, cmt| "<div class='post-recommendation'>#{link_to ("@"+u.username), user_path(u)} #{link_to ("#"+cmt.cmtid_text), comment_path(cmt)}: #{mark_it_up cmt.comment_text}</div>" end.join("\n").html_safe %>
			<div class='post-silent-recommendations'>
			<%= @post.sorted_recommendations[1].reject{|a| not @unhide and a.hidden_by? @current_user}.map do |u| "#{link_to ("@"+u.username), user_path(u)}" end.join(",").html_safe %>
			</div>
			<% end %>
		</div>
	</div>
	
	<div class="comments">
	
	<% @comments.each do |comment| %>
	<div class="comment">
		<%= render partial: "comment", locals: {comment: comment, full_text: true} %>
	</div>
	<% end %>
	
	</div>
<% end %>
