<% content_for :title, "Huick: recent" %>
<% content_for :feed_title, "Huick: recent" %>
<% content_for :feed_url, url_for(:format => :atom) %>



<% if not params[:search] and not params[:page] %>

<div class="search">
<form action="<%= url_for controller: :application, action: :search %>" method="get">
	<%= text_field_tag :search %>
	<%= submit_tag "Search", :name => "" %>
	<%= label_tag :kind_posts, "posts" %>
	<%= radio_button_tag :kind, "posts", true %>
	<%= label_tag :kind_comments, "comments" %>
	<%= radio_button_tag :kind, "comments", false %>
</form>
</div>

<div class="welcome">
<%= render partial: "welcome" %>
<% end %>

<% @posts.each do |post| %>
<div class="post">

<%= render partial: "post", locals: {post: post} %>

</div>
<% end %>

<%= paginate @posts %>
