
		<a name="<%=comment.number%>" />
		<div class="comment-header">
			<span class="comment-username"><%= link_to ("@"+comment.user.username), user_path(comment.user) %></span>
			
			<span class="comment-resource"><%= comment.resource %></span>
			
			<% if comment.parent_comment_user && !(comment.parent_comment_recommendation || comment.parent_post_recommendation) %>
				<span class="comment-replyto-username"> -> <%= link_to ("@"+comment.parent_comment_user.username), user_path(comment.parent_comment_user) %></span>
			<% end %>
			
			<% if comment.parent_comment_recommendation or comment.parent_post_recommendation %>
			<span class="comment-recommended">
				recommended
			</span>
			<% end %>
			
			<% if comment.parent_comment_number > 0 %>
				<span class="comment-replyto"><%= link_to ("/"+comment.parent_comment_number.to_s), post_path(comment.post) + "##{comment.parent_comment_number}" %></span>
			<% end %>
			<br />
			<span class="comment-date"><%= comment.created_at %></span>
		</div>
		<div class="comment-text">
		<%= mark_it_up comment.comment_text %>
		</div>
		<div class="comment-footer">
		<span class="comment-id"><%= link_to ("#"+comment.cmtid_text), comment_path(comment)%></span>
		</div>
		<% unless comment.sorted_recommendations[0].reject{|a| not @unhide and a[0].hidden_by? @current_user}.empty? and comment.sorted_recommendations[1].reject{|a| not @unhide and a.hidden_by? @current_user}.empty? %>
		<div class="comment-recommendations">
			Recommended by:
			<%= comment.sorted_recommendations[0].reject{|a| not @unhide and a[0].hidden_by? @current_user}.map do |u, cmt| "<div class='comment-recommendation'>#{link_to ("@"+u.username), user_path(u)} #{mark_it_up cmt.comment_text} #{link_to ("#"+cmt.cmtid_text), comment_path(cmt)}</div>" end.join("\n").html_safe %>
			<div class='comment-silent-recommendations'>
			<%= comment.sorted_recommendations[1].reject{|a| not @unhide and a.hidden_by? @current_user}.map do |u| "#{link_to ("@"+u.username), user_path(u)}" end.join(",").html_safe %>
			</div>
		</div>
	<% end %>
	</div>
