	<div class="comment-recommendation-username">
		<%= link_to ("@" + comment_recommendation.user.username), user_path(comment_recommendation.user) %> recommended at <%= comment_recommendation.created_at %>
	</div>
	<% if comment_recommendation.recommending_comment %>
	<div class="comment-recommendation-text">
		<%= mark_it_up comment_recommendation.recommending_comment.comment_text %>
	</div>
	<% end %>
	<% comment = comment_recommendation.comment %>
	<div class="comment quotid">
		<div class="comment-header">
			<span class="comment-username"><%= link_to ("@"+comment.user.username), user_path(comment.user) %></span>
			
			<% if comment.parent_comment_user %>
				<span class="comment-replyto-username"> -> <%= link_to ("@"+comment.parent_comment_user.username), user_path(comment.parent_comment_user) %></span>
			<% end %>
			
			<span class="comment-date"><%= comment.created_at %></span>
			
			<span class="comment-resource"><%= comment.resource %></span>
			
			<% if comment.parent_comment_recommendation or comment.parent_post_recommendation %>
			<span class="comment-recommended">
				recommended
			</span>
			<% end %>
			
			<% if comment.parent_comment_number > 0 %>
				<span class="comment-replyto"><%= link_to ("/"+comment.parent_comment_number.to_s), post_path(comment.post) + "##{comment.parent_comment_number}" %></span>
			<% end %>
		</div>
		<div class="comment-text">
		<%= mark_it_up comment.comment_text %>
		</div>
		<div class="comment-footer">
		<span class="comment-id"><%= link_to ("#"+comment.cmtid_text), comment_path(comment)%></span>
		</div>

	</div>