	<div class="post-recommendation-username">
		<%= link_to ("@" + post_recommendation.user.username), user_path(post_recommendation.user) %> recommended at <%= post_recommendation.created_at %>
	</div>
	<% if post_recommendation.recommending_comment %>
	<div class="post-recommendation-text">
		<%= mark_it_up post_recommendation.recommending_comment.comment_text %>
	</div>
	<% end %>
	<div class="post quotid">

	<%= render partial: "post", locals: {post: post_recommendation.post} %>

	</div>