<div class="post-header">
	<span class="post-username"><%= link_to ("@"+post.user.username), user_path(post.user) %></span>
	<% if post.target_user %>
		-> <span class="post-target-username"><%= link_to ("@"+post.target_user.username), user_path(post.target_user) %></span>
	<% end %>
	<span class="post-date"><%= post.created_at %></span>
	<span class="post-resource"><%= post.resource %></span>
</div>
<% if not post.tags.empty? %>

<div class="post-tags">

<% post.tags.each do |p_tag| %>
	<span class="tag"><%= link_to p_tag.tag_text, tag_path(p_tag) %></span>
<% end %>

</div>

<% end %>

<div class="post-content">
<% if post.post_content.size > 500 and not defined? full_text %>
<%= mark_it_up(truncate(post.post_content, length: 500).to_s) %>
<%= link_to "more", post_path(post), :class => "more" %>
<% else %>
<%= mark_it_up(post.post_content) %>
<% end %>
</div>

<div class="post-footer">
<span class="post-id">
<%= link_to ("#"+post.postid_text), post_path(post) %>
</span>
<span class="post-comments-number">
<%= link_to "#{post.comments.size} comment(s)", post_path(post) %>
</span>
</div>