<% tags_to_sizes(tags).each do |tag_text, tag_size| %>
	<span class="tag clouded" style="font-size: <%=tag_size%>px"><%= link_to tag_text, tag_path(Tag.new(tag_text: tag_text), user) %></span>
<% end %>