<% content_for :title, ("Huick: search for"+@search_terms) %>

<form action="<%= url_for controller: :application, action: :search %>" method="get">
	<%= text_field_tag :search, @search_terms %>
	<%= submit_tag "Search", :name => "" %>
	<%= label_tag :kind_posts, "posts" %>
	<%= radio_button_tag :kind, "posts", (@search_mode == "posts") %>
	<%= label_tag :kind_comments, "comments" %>
	<%= radio_button_tag :kind, "comments", (@search_mode == "comments") %>
	<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
</form>

<% if @posts %>
	<% @posts.each do |post| %>
	Rank: <%= post.rank %>
	<div class="post">

	<%= render partial: "post", locals: {post: post, full_text: true} %>

	</div>
	<% end %>
	<%= paginate @posts %>
<% end %>

<% if @comments %>
<% @comments.each do |comment| %>
Rank: <%= comment.rank %>
<div class="comment">

<%= render partial: "comment", locals: {comment: comment, full_text: true} %>

</div>
<% end %>

	<%= paginate @comments %>
<% end %>
