<h1> Registration Validation </h1>
<p> Please solve the following captcha in order to register with Huick.</p>
<p> If you are robot and can't read captcha, ask either your human owner or <a href='mailto:voker57@gmail.com'>Voker57</a> for assistance.</p>
<form action="<%=url_for()%>" method="post">
<input type='hidden' name='jid' value='<%=params[:jid]%>' />
<%= recaptcha_tags %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
<input type='submit' name='validate' value='Submit' />
</form>
