<!DOCTYPE html>
<html>
<head>
	<title><%= content_for?(:title) ? yield(:title) : "Huick" %></title>
 	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="all" />
<% if content_for? :feed_url %>
  <link rel='alternate' type='application/atom+xml' title='<%= yield :feed_title %>' href='<%= yield :feed_url %>' />
<% end %>
</head>
<body>
<a href="/"><img src="https://dump.bitcheese.net/files/cuvulyw/rpod2.png" alt="рубиподелие" /></a>

<div class="logged-as">
<% if @current_user %>
Logged in as <%= @current_user.username %>
<div class="unhide-link">
<%= link_to (@unhide ? "Unhidden" : "Unhide"), unhide_path(url_for()) %>
</div>
<% else %>
Not logged in
<% end %>
</div>

<% if flash[:notice] %>
	<p id="flash-notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
	<p id="flash-error"><%= flash[:error] %></p>
<% end %>

<%= yield %>

</body>
</html>
